<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>Perfiles</title>
<link rel="stylesheet" href="../css/index.css">
</head>

<body>
	<h1>
		<table align="center"  class="titulo">
			<td><img src="../imagenes/titulo.png" alt="Logo" class="logo"></td>
			<td><p class="titulo">Informacion</p></td>
		</table>
	</h1>

	<ul>
		<li><a href="../index.php">Pagina Principal</a></li>
		<li><a href="views.php">DNE</a></li>
		<li><a href="../Documentacion/InvestigacionPNT.pdf">Porque del proyecto?</a></li>
		<li><a href="http://www.snt.org.mx/">Que es el PNT?</a></li>
		<li><a href="http://www.snt.org.mx/index.php/consejo-nacional/acuerdos">Que hace el PNT?</a></li>
		<li><a href="perfiles.html" class="active">Info. Creadores</a></li>
	</ul>

<table align="center" class="info">
  <tr>
    <td><img src="../imagenes/perfil.jpg" width="249" height="250"/></td>
    <td><p>Me llamo Daniela Celic, soy estudiante de segundo semestre de la carrera de Ingenieria en Sistemas Computacionales en ESCOM. Tengo 18 años y soy egresada del cecyt no 8 con el título de técnico en Computación. </p>
    <p>Me intereso participar en este proyecto para ganar experiencias y conocimientos que me puedan servir en un futuro </p></td>
  </tr>
  <tr>
    <td><img src="../imagenes/perfil2.jpg" width="249" height="250"/></td>
    <td><p>Mi nombre es Erick Alcantara Covarrubias estudio en la Escuela Superior de Computo (ESCOM) y soy técnico en computación checa mi cv: <a href="https://hfofficial.me">aqui</a> </p></td>
  </tr>
  <tr>
    <td><img src="../imagenes/perfil2.jpg" width="249" height="250"/></td>
    <td><p>Hola, mi nombre es José Uriel Rodríguez Ramírez estudio en ultimo año en la Universidad Tecnológica de Tecamachalco </p></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
