<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>Perfiles</title>
<link rel="stylesheet" href="../css/index.css">
</head>

<body class="cp">
	<h1>Perfiles</h1>
<table border="1" align="left">
  <tr>
    <td><img src="../../Documentacion/imagenes/perfil.jpg" width="249" height="250"/></td>
    <td><p>Me llamo Daniela Celic, soy estudiante de segundo semestre de la carrera de Ingenieria en Sistemas Computacionales en ESCOM. Tengo 18 años y soy egresada del cecyt no 8 con el título de técnico en Computación. </p>
    <p>Me intereso participar en este proyecto para ganar experiencias y conocimientos que me puedan servir en un futuro </p></td>
  </tr>
  <tr>
    <td><img src="../../Documentacion/imagenes/perfil2.jpg" width="249" height="250"/></td>
    <td><p>Mi nombre es Erick Alcantara Covarrubias estudio en la Escuela Superior de Computo (ESCOM) y soy técnico en computación</p></td>
  </tr>
  <tr>
    <td><img src="../../Documentacion/imagenes/perfil2.jpg" width="249" height="250"/></td>
    <td><p>Hola, mi nombre es José Uriel Rodríguez Ramírez estudio en la Universidad Tecnológica de Tecamachalco en el 9° cuatrimestre </p></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
