body{
  background-color: rgba(255, 255, 255, 1);
}

h1{
  text-align: center;
  background-color: rgba(238, 130, 238, 0.5);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E5E2E6;
}

li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EE82EE;
}

.active {
  background-color: #DD3EF3;
}

.button{
  background-color: #EE82EE;
  border-style: solid;
  border-color: #DD3EF3;
  border-width: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #DD3EF3;
}

div.articulo{
  border-style: solid;
  border-width: 2px;
  border-color: #EE82EE;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 50px;
  font-family: Tahoma, Verdana, sans-serif;
  background-color: white;
}

div.menu{
  border-radius: 5px;
  background-color: #EE82EE;
  color: white;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 50px;
  font-family: Tahoma, Verdana, sans-serif;
}

div.filtros{
  border-radius: 5px;
  background-color: #EE82EE;
  color: white;
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 50px;
  font-family: Tahoma, Verdana, sans-serif;
}

table.datos{
  border-collapse: collapse;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: white;
}

th{
  background-color: #EE82EE;
  color: white;
}

p{
  font-weight: normal;
}

select{
  font-size: 0.90vW;
  background-color: #FB20FB;
  border: 6px solid transparent;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

@font-face {
	font-family: 'avocado';
	src: url('../../Documentacion/recursos_extra/Avocado Creamy.ttf') format('truetype');
}

.titulo {
  font-family: avocado;
  font-size: 50px;
  font-weight: bold;
}

body {
  background-image: url('../../Documentacion/imagenes/wallpapertip_teal-colour-wallpaper_389019.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


table.info{
  background-color: white;
}
